/* Begin main style  */
main{
    margin: 30px;
    height: 643px;
    border: 1px;

    /* Begin article style  */
    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        height: 425px;
        border: 1px;
        border-radius: 25px;
        .article-banner-img {
            width: 100%;
            height: 425px;
            top: 163px;
            left: 100px;
            border-radius: 25px;
            object-fit: cover;
        }
        .card-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .card-accordions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 10px; /* ajustez ceci pour changer l'espace entre les cartes */
            .accordion-button{
                border-radius: 5px;

            }
        }
    }
    /* End banner style  */
}
/* End main style  */