@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
*a {
    text-decoration: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /* ici responsive version tablette*/
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Begin header style  */
    header {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        .header-logo {
            width: 145px;
            height: 46.88px;            
        }

        .menu-nav {
            display: flex;
            gap: 26px;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                font-size: 12px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: right;  
                color: #000000;
            }
        }
    }
    /* End header style  */

    /* Begin main style  */
    main{
        display: flex;
        flex-direction: column;
        margin: 10px;
        /* Begin banner style  */
        #banner{
            width: 100%;
            opacity: 0.2px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 98%;
                background: rgba(0, 0, 0, 0.6);
                border-radius: 10px;
            }

            .banner-img {
                width: 100%;
                border-radius: 10px;
            }

            p {
                width: 225px;
                height: 48px;
                top: 31px;
                left: 16px;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                margin-top: 17%;
                position: absolute;
                color: #fff;
                z-index: 1;
            }
        }
        /* End banner style  */
        /* Start section cards style  */
        .logements-cards{
            border: 1px solid black;
            .card{
                position: relative;
                img {
                    width: 100%;
                    height: 255px;
                    object-fit: cover;
                    border-radius: 10px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 255px;
                    background: linear-gradient(
                        180deg, 
                        rgba(224, 10, 10, 0.405) 0%,  
                        rgba(224, 10, 10, 0.5) 42%,  
                        rgba(232, 18, 18, 0.75) 99.99%, 
                        rgba(227, 21, 21, 1) 100%
                    );
                }
                .card-content {
                    text-decoration: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 50%;
                    z-index: 1;
                    .card-txt{
                        margin: 15px;
                        color: #fff;
                    }
                }
            }
        }
        /* End section cards style  */


    }
    /* End main style  */

}