@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /* ici responsive version tablette*/
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        .header-logo {
            width: 145px;
            height: 46.88px;            
        }

        .menu-nav {
            display: flex;
            gap: 26px;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: right;  
                color: #000000;
            }
        }
    }
}